.tags

# Emacs things
\#*#
configs/emacs.d/*
*.elc
!configs/emacs.d/eshell/alias
!configs/emacs.d/lisp
!configs/emacs.d/snippets
!configs/emacs.d/init.el
!configs/emacs.d/custom.el

configs/doom/doom
configs/doom/custom.el
